<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Registro</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="head1">
                <a href="/"><img src="img/logo-mercado-liebre.svg"  alt="Logo Mercado Liebre" class="logo_principal"></a>
            </div>
            <div class="head2">
                <input type="text" placeholder="Buscar conejos, liebres">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="head3">
                <p id="compra"><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        
        
        <nav class="menu_principal">
            <div class="nav1">
                <a class="titulares" href="">Ofertas</a>
                <a class="titulares" href="">Tiendas Oficiales</a>
                <a class="titulares" href="">Vender</a>
                <a class="titulares" href="">Ayuda</a>
            </div>
            <div class="nav2">
                
                <a class="textos" href="/registro">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a>
                <a class="textos" href="/ingreso">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a>
                <a class="textos" href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
            </div>
        </nav>
        <div class="menu">
            <input type="checkbox" name="" id="check">
            <label for="check" class="check_btn">
                <i class="fa-solid fa-bars"></i>
            </label>
        </div>
    </header>
    <form action="" method="POST" class="form">
        <div class="elemento">
            <input type="name" name="Nombre de usuario" placeholder="Nombre de usuario">
        </div>
        <div class="elemento">
            <input type="password" name="contraseña" placeholder="Contraseña">
        </div>
        <div class="elemento">
            <button type="submit">Enviar</button>
        </div>
    </form>
    <footer>
        <div class="footer">
            <div class="footerDiv">
                <i class="fa-solid fa-credit-card"></i>
                <h4 class="titulo">Paga con tarjeta o efectivo</h4>
                <p class="textos">Con Mercado Liebre Cash, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
            <div class="footerDiv">
                <i class="fa-solid fa-gift"></i>
                <h4 class="titulo">Envío gratis desde $ 2.500</h4>
                <p class="textos">Solo por estar registrado en Mercado Liebre tienes envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            <div class="footerDiv">
                <i class="fa-solid fa-user-shield"></i>
                <h4 class="titulo">Seguridad, de principio a fin</h4>
                <p class="textos">¿No te gusta? ¡Devuelvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.
                </p>
            </div>
        </div>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L</p>

    </footer>
</body>
</html>